<div class="right">
    Themes
 <button (click)="changeTheme('dark')"> Dark </button>
 <button  (click)="changeTheme('light')">Light </button>
</div>
 
<app-header></app-header>
<hr>
<app-login *ngIf="!authService.isLoggedIn"> </app-login>
<div class="main" *ngIf="authService.isLoggedIn">
    
<div class="section">
    <h1>Text Search </h1>
    <hr>
    <app-search></app-search>
</div>

<div class="section">
    <h1>Random Numbers</h1>
    <hr>
    <app-random-number></app-random-number>
</div>

<div class="section">
    <h1>State Management</h1>
    <hr>
    <app-state-management></app-state-management>
</div>

</div>