/* You can add global styles to this file, and also import other style files */
@import './theme.scss';

body {
    background-color: var(--background);
    color: var(--color);
    font-family: var(--defaultFont);
}

.right {
    float: right;
}